.basic-py3aiii-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f5f5f5;
}
.basic-py3aiii-banner {
  width: 100%;
  height: 275px;
  display: flex;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url('https://marketplace.canva.com/EAD2962NKnQ/2/0/1600w/canva-rainbow-gradient-pink-and-purple-virtual-background-_Tcjok-d9b4.jpg');
}

.basic-py3aiii-main-content {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #ffffff;
}
.basic-py3aiii-heading {
  color: #ff0000;
  font-size: 3rem;
  align-self: center;
  text-align: center;
}
.basic-py3aiii-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.basic-py3aiii-navlink {
  transition: 0.3s;
  text-decoration: none;
}
.basic-py3aiii-navlink:hover {
  color: #a068ff;
  font-style: normal;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.75);
}
.basic-py3aiii-navlink1 {
  transition: 0.3s;
  text-decoration: none;
}
.basic-py3aiii-navlink1:hover {
  color: #a068ff;
  font-style: normal;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.75);
}
.basic-py3aiii-navlink2 {
  transition: 0.3s;
  text-decoration: none;
}
.basic-py3aiii-navlink2:hover {
  color: #a068ff;
  font-style: normal;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.75);
}
.basic-py3aiii-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.basic-py3aiii-navlink3 {
  transition: 0.3s;
  text-decoration: none;
}
.basic-py3aiii-navlink3:hover {
  color: #a068ff;
  font-style: normal;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.75);
}
.basic-py3aiii-navlink4 {
  transition: 0.3s;
  text-decoration: none;
}
.basic-py3aiii-navlink4:hover {
  color: #a068ff;
  font-style: normal;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.75);
}
.basic-py3aiii-content-here {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.basic-py3aiii-text01 {
  margin-top: 5px;
}
.basic-py3aiii-text02 {
  margin-top: 5px;
}
.basic-py3aiii-container3 {
  width: auto;
  height: 368px;
  display: flex;
  align-items: flex-start;
}
.basic-py3aiii-switch-1 {
  width: 1211px;
  height: 387px;
  display: flex;
  margin-top: 10px;
  align-items: flex-start;
}
.basic-py3aiii-text05 {
  text-align: center;
  text-decoration: underline;
}
.basic-py3aiii-text06 {
  margin-top: 5px;
}
.basic-py3aiii-method1 {
  flex: 0 0 auto;
  width: 50%;
  height: 556px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.basic-py3aiii-text09 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.basic-py3aiii-image {
  width: 457px;
  height: 350px;
  margin-top: 0px;
  object-fit: cover;
}
.basic-py3aiii-text12 {
  margin-top: 5px;
  text-align: justify;
}
.basic-py3aiii-text14 {
  font-weight: 700;
}
.basic-py3aiii-text16 {
  font-weight: 700;
}
.basic-py3aiii-text18 {
  text-decoration: underline;
}
.basic-py3aiii-text20 {
  font-weight: 700;
}
.basic-py3aiii-text22 {
  font-weight: 700;
}
.basic-py3aiii-nested-if {
  flex: 0 0 auto;
  width: 407px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.basic-py3aiii-text24 {
  text-align: justify;
  padding-right: 20px;
}
.basic-py3aiii-text26 {
  text-decoration: underline;
}
.basic-py3aiii-image1 {
  width: 378px;
  height: 551px;
  margin-top: 10px;
  object-fit: cover;
}
.basic-py3aiii-container4 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.basic-py3aiii-switch-2 {
  flex: 0 0 auto;
  width: 440px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.basic-py3aiii-text27 {
  margin-top: 5px;
  font-weight: 700;
  margin-left: 10px;
  margin-bottom: 5px;
}
.basic-py3aiii-image2 {
  width: 416px;
  height: 351px;
  margin-top: 0px;
  object-fit: cover;
  margin-left: 10px;
}
.basic-py3aiii-text28 {
  margin-top: 5px;
  text-align: justify;
  margin-left: 10px;
}
.basic-py3aiii-text30 {
  font-weight: 700;
}
.basic-py3aiii-text32 {
  font-weight: 700;
}
.basic-py3aiii-text34 {
  font-weight: 700;
}
.basic-py3aiii-text36 {
  font-weight: 700;
}
.basic-py3aiii-text40 {
  font-weight: 700;
}
.basic-py3aiii-text46 {
  font-weight: 700;
}
.basic-py3aiii-text48 {
  font-weight: 700;
}
.basic-py3aiii-text54 {
  font-weight: 700;
}
.basic-py3aiii-text58 {
  font-weight: 700;
}
.basic-py3aiii-text65 {
  font-weight: 700;
}
.basic-py3aiii-change-order {
  flex: 0 0 auto;
  width: 629px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.basic-py3aiii-text67 {
  align-self: center;
  font-weight: 700;
  margin-bottom: 5px;
}
.basic-py3aiii-image3 {
  width: 506px;
  height: 430px;
  align-self: center;
  object-fit: cover;
}
.basic-py3aiii-text68 {
  align-self: center;
  margin-top: 5px;
  font-weight: 700;
}
.basic-py3aiii-text71 {
  text-decoration: underline;
}
.basic-py3aiii-text73 {
  text-decoration: underline;
}
.basic-py3aiii-reference {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}
.basic-py3aiii-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.basic-py3aiii-container5 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.basic-py3aiii-navlink5 {
  font-weight: 700;
  text-decoration: none;
}
.basic-py3aiii-icon {
  width: 24px;
  height: 24px;
}
@media(max-width: 1600px) {
  .basic-py3aiii-container {
    background-color: #f7f7f7;
  }
  .basic-py3aiii-banner {
    height: auto;
    align-items: center;
    background-size: cover;
    justify-content: flex-start;
    background-image: url("/external/bgportrait-1500w.jpg");
  }
  .basic-py3aiii-main-content {
    flex: 1;
    width: 1300px;
    height: 2067px;
    box-shadow: 0px 0px 10px 0px #d3d2d6;
    align-items: flex-start;
    padding-top: 100px;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #ffffff;
  }
  .basic-py3aiii-heading {
    color: rgb(255, 255, 255);
    width: 1200px;
    height: auto;
    font-size: 64px;
    font-style: normal;
    margin-top: 40px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 1.15;
    padding-top: 40px;
    border-radius: var(--dl-radius-radius-radius4);
    margin-bottom: 20px;
    padding-bottom: 40px;
    background-size: cover;
    background-image: url("/external/bglandscape-1200w.jpg");
    background-position: right;
  }
  .basic-py3aiii-container1 {
    width: 700px;
    height: auto;
    align-self: center;
    margin-left: 50px;
    padding-top: 20px;
    margin-right: 50px;
    padding-bottom: 10px;
    justify-content: center;
  }
  .basic-py3aiii-navlink {
    font-size: 16px;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    line-height: 1.15;
    border-width: 1px;
    margin-right: 25px;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
  }
  .basic-py3aiii-navlink1 {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    line-height: 1.15;
    margin-left: 25px;
    border-width: 1px;
    margin-right: 25px;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
  }
  .basic-py3aiii-navlink2 {
    color: #A068FF;
    font-size: 16px;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    line-height: 1.15;
    margin-left: 25px;
    border-width: 1px;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
  }
  .basic-py3aiii-container2 {
    width: 800px;
    height: auto;
    align-self: center;
    margin-left: 50px;
    padding-top: 10px;
    margin-right: 50px;
    padding-bottom: 20px;
    justify-content: center;
  }
  .basic-py3aiii-navlink3 {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    line-height: 1.15;
    margin-left: 25px;
    border-width: 1px;
    margin-right: 25px;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
  }
  .basic-py3aiii-navlink4 {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    line-height: 1.15;
    margin-left: 25px;
    border-width: 1px;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
  }
  .basic-py3aiii-content-here {
    width: 1200px;
    height: auto;
    align-items: flex-end;
    margin-left: 50px;
    padding-top: 50px;
    margin-right: 50px;
    padding-bottom: 50px;
  }
  .basic-py3aiii-text {
    font-size: 36px;
    align-self: flex-start;
    font-style: normal;
    font-family: Inter;
    font-weight: 700;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 30px;
  }
  .basic-py3aiii-text01 {
    font-size: 16px;
    font-style: normal;
    margin-top: 0px;
    text-align: justify;
    font-family: Inter;
    font-weight: 400;
    line-height: 1.15;
    padding-right: var(--dl-space-space-fiveunits);
  }
  .basic-py3aiii-text02 {
    margin-top: 0px;
  }
  .basic-py3aiii-container3 {
    width: 100%;
    height: auto;
  }
  .basic-py3aiii-switch-1 {
    width: 50%;
    height: auto;
    margin-top: 0px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .basic-py3aiii-text05 {
    font-size: 16px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400;
    line-height: 1.15;
  }
  .basic-py3aiii-text06 {
    font-size: 16px;
    font-style: normal;
    margin-top: 15px;
    font-family: Inter;
    font-weight: 400;
    line-height: 1.15;
  }
  .basic-py3aiii-method1 {
    width: auto;
    height: auto;
    margin-top: 15px;
    padding-left: var(--dl-space-space-twounits);
  }
  .basic-py3aiii-text09 {
    font-size: 16px;
    align-self: flex-start;
    font-style: normal;
    margin-top: 0px;
    font-family: Inter;
    font-weight: 700;
    line-height: 1.15;
    margin-bottom: 15px;
  }
  .basic-py3aiii-image {
    width: 100%;
    height: auto;
    margin-top: 0px;
    border-radius: var(--dl-radius-radius-radius4);
    margin-bottom: 0px;
  }
  .basic-py3aiii-text12 {
    font-size: 16px;
    margin-top: 15px;
    font-family: Inter;
    line-height: 1.15;
  }
  .basic-py3aiii-nested-if {
    width: 50%;
  }
  .basic-py3aiii-text24 {
    font-size: 16px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400;
    line-height: 1.15;
    padding-left: var(--dl-space-space-fourunits);
  }
  .basic-py3aiii-text26 {
    text-decoration: underline;
  }
  .basic-py3aiii-image1 {
    width: 380px;
    height: 554px;
    align-self: flex-start;
    margin-top: 20px;
    margin-left: var(--dl-space-space-fiveunits);
    border-radius: var(--dl-radius-radius-radius4);
  }
  .basic-py3aiii-container4 {
    height: auto;
    margin-top: 30px;
    margin-bottom: 15px;
  }
  .basic-py3aiii-switch-2 {
    width: 50%;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .basic-py3aiii-text27 {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 20px;
  }
  .basic-py3aiii-image2 {
    width: 504px;
    height: 434px;
    margin-left: 0px;
    border-radius: var(--dl-radius-radius-radius4);
  }
  .basic-py3aiii-text28 {
    font-size: 16px;
    margin-top: 20px;
    font-family: Inter;
    line-height: 1.15;
    margin-left: 0px;
  }
  .basic-py3aiii-change-order {
    width: 50%;
    height: auto;
    align-self: flex-start;
    padding-left: var(--dl-space-space-fiveunits);
  }
  .basic-py3aiii-text67 {
    font-size: 24px;
    align-self: flex-start;
    font-family: Inter;
    line-height: 1.15;
    margin-left: var(--dl-space-space-oneandhalfunits);
    margin-bottom: 10px;
  }
  .basic-py3aiii-image3 {
    width: 512px;
    height: 435px;
    border-radius: var(--dl-radius-radius-radius4);
  }
  .basic-py3aiii-text68 {
    font-size: 16px;
    margin-top: 15px;
    text-align: justify;
    font-family: Inter;
    line-height: 1.15;
  }
  .basic-py3aiii-text76 {
    font-size: 18px;
    font-style: italic;
    font-family: Inter;
    font-weight: 500;
    line-height: 1.15;
    padding-top: 25px;
  }
  .basic-py3aiii-reference {
    width: 1600px;
    height: auto;
    align-self: center;
    box-shadow: 0px -1px 15px 0px #ebebeb;
    align-items: flex-start;
    padding-top: 50px;
    padding-left: 200px;
    padding-right: 200px;
    flex-direction: column;
    padding-bottom: 50px;
    justify-content: flex-start;
  }
  .basic-py3aiii-text77 {
    font-size: 32px;
    font-style: normal;
    font-family: Inter;
    font-weight: 700;
  }
  .basic-py3aiii-text78 {
    font-size: 16px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400;
    line-height: 1.25;
  }
  .basic-py3aiii-text79 {
    font-size: 16px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400;
  }
  .basic-py3aiii-text80 {
    font-size: 16px;
    font-style: italic;
    font-family: Inter;
    font-weight: 400;
  }
  .basic-py3aiii-text81 {
    font-size: 16px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400;
  }
  .basic-py3aiii-text82 {
    font-size: 16px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400;
  }
  .basic-py3aiii-text83 {
    font-size: 16px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400;
  }
  .basic-py3aiii-link {
    color: var(--dl-color-primary-300);
    font-size: 16px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400;
    text-decoration: underline;
  }
  .basic-py3aiii-footer {
    justify-content: space-between;
  }
  .basic-py3aiii-navlink5 {
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 700;
    text-decoration: none;
  }
  .basic-py3aiii-text85 {
    font-size: 16px;
    font-style: normal;
    font-family: Montserrat;
    font-weight: 500;
  }
  .basic-py3aiii-icon {
    margin-left: 50px;
  }
}
@media(max-width: 1200px) {
  .basic-py3aiii-heading {
    color: rgb(255, 255, 255);
  }
}
@media(max-width: 479px) {
  .basic-py3aiii-footer {
    align-self: center;
  }
  .basic-py3aiii-icon-group {
    display: none;
  }
}
