.basic-py1b-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f5f5f5;
}
.basic-py1b-banner {
  width: 100%;
  height: 275px;
  display: flex;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url('https://marketplace.canva.com/EAD2962NKnQ/2/0/1600w/canva-rainbow-gradient-pink-and-purple-virtual-background-_Tcjok-d9b4.jpg');
}

.basic-py1b-main-content {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #ffffff;
}
.basic-py1b-heading {
  color: #ff0000;
  font-size: 3rem;
  align-self: center;
  text-align: center;
}
.basic-py1b-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.basic-py1b-navlink {
  transition: 0.3s;
  text-decoration: none;
}
.basic-py1b-navlink:hover {
  color: #a068ff;
  font-style: normal;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.75);
}
.basic-py1b-navlink1 {
  transition: 0.3s;
  text-decoration: none;
}
.basic-py1b-navlink1:hover {
  color: #a068ff;
  font-style: normal;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.75);
}
.basic-py1b-navlink2 {
  transition: 0.3s;
  text-decoration: none;
}
.basic-py1b-navlink2:hover {
  color: #a068ff;
  font-style: normal;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.75);
}
.basic-py1b-navlink3 {
  transition: 0.3s;
  text-decoration: none;
}
.basic-py1b-navlink3:hover {
  color: #a068ff;
  font-style: normal;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.75);
}
.basic-py1b-navlink4 {
  transition: 0.3s;
  text-decoration: none;
}
.basic-py1b-navlink4:hover {
  color: #a068ff;
  font-style: normal;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.75);
}
.basic-py1b-navlink5 {
  transition: 0.3s;
  text-decoration: none;
}
.basic-py1b-navlink5:hover {
  color: #a068ff;
  font-style: normal;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.75);
}
.basic-py1b-alia {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.basic-py1b-address {
  width: 1524px;
  height: 495px;
  display: flex;
  margin-top: 40px;
  align-items: center;
  margin-left: 10px;
  flex-direction: column;
  justify-content: flex-start;
}
.basic-py1b-container2 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.basic-py1b-text01 {
  color: var(--dl-color-gray-black);
  font-size: 20px;
  margin-top: 20px;
  margin-left: 10px;
}
.basic-py1b-image {
  width: 876px;
  height: 288px;
  margin-top: 10px;
  object-fit: cover;
}
.basic-py1b-value-type {
  width: 1536px;
  height: 730px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.basic-py1b-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.basic-py1b-container4 {
  top: 38px;
  left: 15px;
  width: 749px;
  height: 224px;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  text-align: left;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.basic-py1b-text07 {
  background-color: peach;
}
.basic-py1b-text19 {
  text-decoration: underline;
}
.basic-py1b-text20 {
  text-decoration: underline;
}
.basic-py1b-text29 {
  text-decoration: underline;
}
.basic-py1b-text30 {
  text-decoration: underline;
}
.basic-py1b-text31 {
  text-decoration: underline;
}
.basic-py1b-container5 {
  top: 37px;
  right: 0px;
  width: 738px;
  height: 227px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.basic-py1b-text37 {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
}
.basic-py1b-image1 {
  width: 200px;
  object-fit: cover;
}
.basic-py1b-reference {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}
.basic-py1b-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.basic-py1b-container6 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.basic-py1b-navlink6 {
  font-weight: 700;
  text-decoration: none;
}
.basic-py1b-icon {
  width: 24px;
  height: 24px;
}
@media(max-width: 1600px) {
  .basic-py1b-container {
    background-color: #f7f7f7;
  }
  .basic-py1b-banner {
    height: auto;
    align-items: center;
    background-size: cover;
    justify-content: flex-start;
    background-image: url("/external/bgportrait-1500w.jpg");
  }
  .basic-py1b-main-content {
    flex: 1;
    width: 1300px;
    height: auto;
    box-shadow: 0px 0px 10px 0px #d3d2d6;
    align-items: flex-start;
    padding-top: 100px;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #ffffff;
  }
  .basic-py1b-heading {
    color: rgb(255, 255, 255);
    width: 1200px;
    height: auto;
    font-size: 64px;
    font-style: normal;
    margin-top: 40px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 1.15;
    padding-top: 40px;
    border-radius: var(--dl-radius-radius-radius4);
    margin-bottom: 20px;
    padding-bottom: 40px;
    background-size: cover;
    background-image: url("/external/bglandscape-1200w.jpg");
    background-position: bottom left;
  }
  .basic-py1b-container1 {
    width: 1050px;
    height: auto;
    align-self: center;
    align-items: center;
    margin-left: 50px;
    padding-top: 20px;
    margin-right: 50px;
    padding-bottom: 20px;
    justify-content: space-between;
  }
  .basic-py1b-navlink {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    line-height: 1.15;
    border-width: 1px;
    margin-right: 25px;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
  }
  .basic-py1b-navlink1 {
    color: #A068FF;
    font-size: 16px;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    line-height: 1.15;
    margin-left: 25px;
    border-width: 1px;
    margin-right: 25px;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
  }
  .basic-py1b-navlink2 {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    line-height: 1.15;
    margin-left: 25px;
    border-width: 1px;
    margin-right: 25px;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
  }
  .basic-py1b-navlink3 {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    line-height: 1.15;
    margin-left: 25px;
    border-width: 1px;
    margin-right: 25px;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
  }
  .basic-py1b-navlink4 {
    color: var(--dl-color-gray-black);
    font-size: 16px;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    line-height: 1.15;
    margin-left: 25px;
    border-width: 1px;
    margin-right: 25px;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
  }
  .basic-py1b-navlink5 {
    color: var(--dl-color-gray-black);
    font-size: 16px;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    line-height: 1.15;
    margin-left: 25px;
    border-width: 1px;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
  }
  .basic-py1b-alia {
    width: 1200px;
    height: auto;
    align-self: flex-start;
    align-items: center;
    margin-left: 50px;
    padding-top: 50px;
    margin-right: 50px;
    padding-bottom: 50px;
  }
  .basic-py1b-address {
    width: 100%;
    height: auto;
    margin-top: 0px;
    align-items: flex-start;
    margin-left: 0px;
    margin-bottom: 25px;
    flex-direction: row;
  }
  .basic-py1b-container2 {
    width: 725px;
    padding-right: var(--dl-space-space-fourunits);
  }
  .basic-py1b-text {
    font-size: 36px;
    font-style: normal;
    font-family: Inter;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .basic-py1b-text01 {
    color: var(--dl-color-gray-black);
    font-size: 16px;
    align-self: flex-start;
    font-style: normal;
    margin-top: 0px;
    text-align: justify;
    font-family: Inter;
    font-weight: 400;
    line-height: 1.15;
    margin-left: 0px;
  }
  .basic-py1b-text04 {
    text-decoration: underline;
  }
  .basic-py1b-image {
    width: 422px;
    height: 136px;
    align-self: flex-end;
    margin-top: 0px;
  }
  .basic-py1b-value-type {
    width: 100%;
    height: auto;
    margin-top: 25px;
  }
  .basic-py1b-text06 {
    font-size: 36px;
    font-style: normal;
    font-family: Inter;
    font-weight: 700;
    margin-bottom: 15px;
  }
  .basic-py1b-container3 {
    width: 92%;
    align-self: center;
    margin-bottom: 10px;
    justify-content: space-between;
  }
  .basic-py1b-container4 {
    width: 505px;
    height: 300px;
    position: static;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    background-color: #efefef;
  }
  .basic-py1b-text07 {
    height: auto;
    font-size: 16px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400;
    line-height: 1.15;
  }
  .basic-py1b-text09 {
    font-weight: 700;
  }
  .basic-py1b-text13 {
    font-weight: 700;
  }
  .basic-py1b-text18 {
    font-weight: 700;
    text-decoration: inherit;
  }
  .basic-py1b-text19 {
    font-weight: 700;
    text-decoration: inherit;
  }
  .basic-py1b-text20 {
    font-weight: 700;
    text-decoration: underline;
  }
  .basic-py1b-text21 {
    font-weight: 700;
  }
  .basic-py1b-text22 {
    font-weight: 700;
  }
  .basic-py1b-text23 {
    font-weight: 700;
  }
  .basic-py1b-text28 {
    font-weight: 700;
    text-decoration: inherit;
  }
  .basic-py1b-text29 {
    font-weight: 700;
    text-decoration: inherit;
  }
  .basic-py1b-text30 {
    font-weight: 700;
    text-decoration: inherit;
  }
  .basic-py1b-text31 {
    font-weight: 700;
    text-decoration: underline;
  }
  .basic-py1b-text32 {
    font-weight: 700;
  }
  .basic-py1b-text33 {
    font-weight: 700;
  }
  .basic-py1b-text34 {
    font-weight: 700;
  }
  .basic-py1b-container5 {
    right: 76px;
    width: auto;
    bottom: -75px;
    height: auto;
    position: static;
    padding-bottom: 0px;
    background-color: #efefef;
  }
  .basic-py1b-text37 {
    width: 560px;
    height: 300px;
    font-size: 16px;
    box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400;
    line-height: 1.15;
  }
  .basic-py1b-text39 {
    font-weight: 700;
  }
  .basic-py1b-text43 {
    font-weight: 700;
  }
  .basic-py1b-text44 {
    font-weight: 700;
  }
  .basic-py1b-text45 {
    font-weight: 700;
  }
  .basic-py1b-text51 {
    font-weight: 700;
  }
  .basic-py1b-text52 {
    font-weight: 700;
  }
  .basic-py1b-text53 {
    font-weight: 700;
  }
  .basic-py1b-text54 {
    font-weight: 700;
  }
  .basic-py1b-text55 {
    font-weight: 700;
  }
  .basic-py1b-text56 {
    font-weight: 700;
  }
  .basic-py1b-text57 {
    font-weight: 700;
  }
  .basic-py1b-text61 {
    font-weight: 700;
    text-decoration: underline;
  }
  .basic-py1b-text69 {
    font-weight: 700;
  }
  .basic-py1b-image1 {
    width: 743px;
    height: 236px;
    align-self: center;
    margin-top: 10px;
  }
  .basic-py1b-text73 {
    font-size: 18px;
    align-self: flex-end;
    font-style: normal;
    font-family: Inter;
    font-weight: 500;
    padding-top: 25px;
  }
  .basic-py1b-text75 {
    font-style: italic;
  }
  .basic-py1b-reference {
    width: 1600px;
    height: auto;
    align-self: center;
    box-shadow: 0px -1px 15px 0px #ebebeb;
    align-items: flex-start;
    padding-top: 50px;
    padding-left: 200px;
    padding-right: 200px;
    flex-direction: column;
    padding-bottom: 50px;
    justify-content: flex-start;
  }
  .basic-py1b-text76 {
    font-size: 32px;
    font-style: normal;
    font-family: Inter;
    font-weight: 700;
  }
  .basic-py1b-text77 {
    font-size: 16px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400;
    line-height: 1.25;
  }
  .basic-py1b-text78 {
    font-size: 16px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400;
  }
  .basic-py1b-text79 {
    font-size: 16px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400;
  }
  .basic-py1b-text80 {
    font-size: 16px;
    font-style: italic;
    font-family: Inter;
    font-weight: 400;
  }
  .basic-py1b-text81 {
    font-size: 16px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400;
  }
  .basic-py1b-text82 {
    font-size: 16px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400;
  }
  .basic-py1b-text83 {
    font-size: 16px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400;
  }
  .basic-py1b-link {
    color: var(--dl-color-primary-300);
    font-size: 16px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400;
    text-decoration: underline;
  }
  .basic-py1b-text84 {
    font-size: 16px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400;
  }
  .basic-py1b-text85 {
    font-size: 16px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400;
  }
  .basic-py1b-text86 {
    font-size: 16px;
    font-style: italic;
    font-family: Inter;
    font-weight: 400;
  }
  .basic-py1b-text87 {
    font-size: 16px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400;
  }
  .basic-py1b-text88 {
    font-size: 16px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400;
  }
  .basic-py1b-text89 {
    font-size: 16px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400;
  }
  .basic-py1b-link1 {
    color: var(--dl-color-primary-300);
    font-size: 16px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400;
    text-decoration: underline;
  }
  .basic-py1b-footer {
    justify-content: space-between;
  }
  .basic-py1b-navlink6 {
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 700;
    text-decoration: none;
  }
  .basic-py1b-text91 {
    font-size: 16px;
    font-style: normal;
    font-family: Montserrat;
    font-weight: 500;
  }
  .basic-py1b-icon {
    margin-left: 50px;
  }
}
@media(max-width: 1200px) {
  .basic-py1b-heading {
    color: rgb(255, 255, 255);
  }
}
@media(max-width: 479px) {
  .basic-py1b-footer {
    align-self: center;
  }
  .basic-py1b-icon-group {
    display: none;
  }
}
