.header-header {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: flex-start;
}
.header-navlink {
  align-self: center;
  text-align: left;
  font-family: "Inter";
  font-weight: 700;
  text-decoration: none;
}
.header-container {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-navlink01 {
  transition: 0.3s;
  text-decoration: none;
}
.header-navlink01:hover {
  color: #a068ff;
  font-style: normal;
  font-weight: 500;
}
.header-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.header-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.header-text {
  font-size: 14px;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-weight: 500;
  margin-right: 4px;
  vertical-align: middle;
}
.header-text:hover {
  color: #a068ff;
}
.header-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.header-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.header-dropdown-toggle01 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-dropdown-toggle01:hover {
  fill: #fff;
  color: #c5a5ff;
  background-color: rgba(0, 0, 0, 0.75);
}
.header-text01 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.header-dropdown01 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.header-dropdown-toggle02 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-dropdown-toggle02:hover {
  fill: #fff;
  color: #c5a5ff;
  background-color: rgba(0, 0, 0, 0.75);
}
.header-text02 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.header-dropdown02 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.header-dropdown-toggle03 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-dropdown-toggle03:hover {
  fill: #fff;
  color: #c5a5ff;
  background-color: rgba(0, 0, 0, 0.75);
}
.header-text03 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.header-dropdown03 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.header-dropdown-toggle04 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-dropdown-toggle04:hover {
  fill: #fff;
  color: #c5a5ff;
  background-color: rgba(0, 0, 0, 0.75);
}
.header-text04 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.header-dropdown04 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.header-dropdown-toggle05 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-dropdown-toggle05:hover {
  fill: #fff;
  color: #c5a5ff;
  background-color: rgba(0, 0, 0, 0.75);
}
.header-text05 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.header-dropdown05 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.header-dropdown-toggle06 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-dropdown-toggle06:hover {
  fill: #fff;
  color: #c5a5ff;
  background-color: rgba(0, 0, 0, 0.75);
}
.header-text06 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.header-thq-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.header-dropdown-toggle07 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.header-text07 {
  font-size: 14px;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-weight: 500;
  margin-right: 4px;
  vertical-align: middle;
}
.header-text07:hover {
  color: #a068ff;
}
.header-dropdown-list1 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.header-dropdown06 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.header-dropdown-toggle08 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-dropdown-toggle08:hover {
  fill: #fff;
  color: #c5a5ff;
  background-color: rgba(0, 0, 0, 0.75);
}
.header-text08 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.header-dropdown07 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.header-dropdown-toggle09 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-dropdown-toggle09:hover {
  fill: #fff;
  color: #c5a5ff;
  background-color: rgba(0, 0, 0, 0.75);
}
.header-text09 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.header-dropdown08 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.header-dropdown-toggle10 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-dropdown-toggle10:hover {
  fill: #fff;
  color: #c5a5ff;
  background-color: rgba(0, 0, 0, 0.75);
}
.header-text10 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.header-dropdown09 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.header-dropdown-toggle11 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-dropdown-toggle11:hover {
  fill: #fff;
  color: #c5a5ff;
  background-color: rgba(0, 0, 0, 0.75);
}
.header-text11 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.header-navlink12 {
  transition: 0.3s;
  text-decoration: none;
}
.header-navlink12:hover {
  color: #a068ff;
}
.header-navlink13 {
  transition: 0.3s;
  text-decoration: none;
}
.header-navlink13:hover {
  color: #a068ff;
}

@media(max-width: 1600px) {
  .header-header {
    height: 70px;
    z-index: 1;
    align-self: center;
    box-shadow: 0px 1px 15px 0px #ebebeb;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: flex-start;
    background-color: #ffffff;
  }
  .header-navlink {
    color: #000000;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 700;
    text-decoration: none;
  }
  .header-container {
    flex: 1;
    width: auto;
    height: 28px;
    align-self: center;
    justify-content: flex-end;
  }
  .header-navlink01 {
    color: #000000;
    font-size: 16px;
    font-style: normal;
    font-family: Montserrat;
    font-weight: 500;
  }
  .header-next {
    color: #000000;
    font-size: 16px;
    font-style: normal;
    font-family: Montserrat;
    font-weight: 500;
    line-height: 1.15;
    padding-left: 10px;
    padding-right: 10px;
  }
  .header-dropdown-toggle {
    padding-top: 0px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 0px;
    justify-content: center;
  }
  .header-text {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-style: normal;
    font-family: Montserrat;
    font-weight: 500;
    margin-right: 0px;
  }
  .header-dropdown-list {
    top: 24px;
    left: -66px;
    width: 231px;
    display: none;
    background-color: #d7d9ea;
  }
  .header-dropdown-toggle01 {
    color: #000000;
    background-color: #ffffff;
  }
  .header-text01 {
    font-size: 14px;
    font-style: normal;
    text-align: center;
    font-weight: 500;
    justify-content: center;
  }
  .header-dropdown-toggle02 {
    color: #000000;
    background-color: #ffffff;
  }
  .header-text02 {
    font-size: 14px;
    font-style: normal;
    text-align: center;
    font-weight: 500;
    justify-content: center;
  }
  .header-dropdown-toggle03 {
    color: #000000;
    background-color: #ffffff;
  }
  .header-text03 {
    font-size: 14px;
    font-style: normal;
    text-align: center;
    font-weight: 500;
    justify-content: center;
  }
  .header-dropdown-toggle04 {
    color: #000000;
    background-color: #ffffff;
  }
  .header-text04 {
    font-size: 14px;
    font-style: normal;
    text-align: center;
    font-weight: 500;
    justify-content: center;
  }
  .header-dropdown-toggle05 {
    color: #000000;
    background-color: #ffffff;
  }
  .header-text05 {
    font-size: 14px;
    font-style: normal;
    text-align: center;
    font-weight: 500;
    justify-content: center;
  }
  .header-dropdown-toggle06 {
    color: #000000;
    background-color: #ffffff;
  }
  .header-text06 {
    font-size: 14px;
    font-style: normal;
    text-align: center;
    font-weight: 500;
    justify-content: center;
  }
  .header-next1 {
    color: #000000;
    font-size: 16px;
    font-style: normal;
    font-family: Montserrat;
    font-weight: 500;
    line-height: 1.15;
    padding-left: 10px;
    padding-right: 10px;
  }
  .header-dropdown-toggle07 {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    justify-content: center;
  }
  .header-text07 {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-style: normal;
    font-family: Montserrat;
    font-weight: 500;
    margin-right: 0px;
  }
  .header-dropdown-list1 {
    top: 21px;
    left: 2px;
    width: 240px;
    display: none;
    background-color: #d7d9ea;
  }
  .header-dropdown-toggle08 {
    color: #000000;
    background-color: #ffffff;
  }
  .header-text08 {
    font-size: 14px;
    font-style: normal;
    text-align: center;
    font-weight: 500;
    justify-content: flex-start;
  }
  .header-dropdown-toggle09 {
    color: #000000;
    background-color: #ffffff;
  }
  .header-text09 {
    font-size: 14px;
    font-style: normal;
    text-align: center;
    font-weight: 500;
    justify-content: flex-start;
  }
  .header-dropdown-toggle10 {
    color: #000000;
    background-color: #ffffff;
  }
  .header-text10 {
    font-size: 14px;
    font-style: normal;
    text-align: center;
    font-weight: 500;
    justify-content: flex-start;
  }
  .header-dropdown-toggle11 {
    color: #000000;
    background-color: #ffffff;
  }
  .header-text11 {
    font-size: 14px;
    font-style: normal;
    text-align: center;
    font-weight: 500;
    justify-content: flex-start;
  }
  .header-next2 {
    color: #000000;
    font-size: 16px;
    font-style: normal;
    font-family: Montserrat;
    font-weight: 500;
    line-height: 1.15;
    padding-left: 10px;
    padding-right: 10px;
  }
  .header-navlink12 {
    color: #000000;
    font-size: 16px;
    font-style: normal;
    font-family: Montserrat;
    font-weight: 500;
  }
  .header-next3 {
    color: #000000;
    font-size: 16px;
    font-style: normal;
    font-family: Montserrat;
    font-weight: 500;
    line-height: 1.15;
    padding-left: 10px;
    padding-right: 10px;
  }
  .header-navlink13 {
    color: #000000;
    font-size: 16px;
    font-style: normal;
    font-family: Montserrat;
    font-weight: 500;
  }
  .header-root-class-name {
    background-color: #ffffff;
  }
}

.sample-app-purchases-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f5f5f5;
}
.sample-app-purchases-banner {
  width: 100%;
  height: 275px;
  display: flex;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url('https://marketplace.canva.com/EAD2962NKnQ/2/0/1600w/canva-rainbow-gradient-pink-and-purple-virtual-background-_Tcjok-d9b4.jpg');
}

.sample-app-purchases-main-content {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #ffffff;
}
.sample-app-purchases-heading {
  color: #ff0000;
  font-size: 3rem;
  align-self: center;
  text-align: center;
}
.sample-app-purchases-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.sample-app-purchases-navlink {
  transition: 0.3s;
  text-decoration: none;
}
.sample-app-purchases-navlink:hover {
  color: #a068ff;
  font-style: normal;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.75);
}
.sample-app-purchases-navlink1 {
  transition: 0.3s;
  text-decoration: none;
}
.sample-app-purchases-navlink1:hover {
  color: #a068ff;
  font-style: normal;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.75);
}
.sample-app-purchases-navlink2 {
  transition: 0.3s;
  text-decoration: none;
}
.sample-app-purchases-navlink2:hover {
  color: #a068ff;
  font-style: normal;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.75);
}
.sample-app-purchases-navlink3 {
  transition: 0.3s;
  text-decoration: none;
}
.sample-app-purchases-navlink3:hover {
  color: #a068ff;
  font-style: normal;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.75);
}
.sample-app-purchases-navlink4 {
  transition: 0.3s;
  text-decoration: none;
}
.sample-app-purchases-navlink4:hover {
  color: #a068ff;
  font-style: normal;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.75);
}
.sample-app-purchases-content-here {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sample-app-purchases-column {
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.sample-app-purchases-image {
  width: 200px;
  object-fit: cover;
}
.sample-app-purchases-column1 {
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.sample-app-purchases-container02 {
  flex: 0 0 auto;
  width: auto;
  height: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.sample-app-purchases-container03 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sample-app-purchases-image1 {
  width: 200px;
  object-fit: cover;
}
.sample-app-purchases-image2 {
  width: 200px;
  object-fit: cover;
}
.sample-app-purchases-container04 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sample-app-purchases-image3 {
  width: 200px;
  object-fit: cover;
}
.sample-app-purchases-column2 {
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.sample-app-purchases-container05 {
  flex: 0 0 auto;
  width: auto;
  height: 466px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.sample-app-purchases-container06 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sample-app-purchases-image4 {
  width: 200px;
  object-fit: cover;
}
.sample-app-purchases-container07 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sample-app-purchases-image5 {
  width: 200px;
  object-fit: cover;
}
.sample-app-purchases-column3 {
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.sample-app-purchases-container08 {
  flex: 0 0 auto;
  width: auto;
  height: 460px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.sample-app-purchases-container09 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sample-app-purchases-image6 {
  width: 200px;
  object-fit: cover;
}
.sample-app-purchases-container10 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sample-app-purchases-image7 {
  width: 200px;
  object-fit: cover;
}
.sample-app-purchases-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.sample-app-purchases-container11 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.sample-app-purchases-navlink5 {
  font-weight: 700;
  text-decoration: none;
}
.sample-app-purchases-icon {
  width: 24px;
  height: 24px;
}
@media(max-width: 1600px) {
  .sample-app-purchases-container {
    background-color: #f7f7f7;
  }
  .sample-app-purchases-banner {
    height: auto;
    align-items: center;
    background-size: cover;
    justify-content: flex-start;
    background-image: url("public/external/bgportrait-1500w.jpg");
  }
  .sample-app-purchases-main-content {
    flex: 1;
    width: 1300px;
    height: auto;
    box-shadow: 0px 0px 10px 0px #d3d2d6;
    align-items: flex-start;
    padding-top: 100px;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #ffffff;
  }
  .sample-app-purchases-heading {
    color: rgb(255, 255, 255);
    width: 1200px;
    height: auto;
    font-size: 64px;
    font-style: normal;
    margin-top: 40px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 1.15;
    padding-top: 40px;
    border-radius: var(--dl-radius-radius-radius4);
    margin-bottom: 20px;
    padding-bottom: 40px;
    background-size: cover;
    background-image: url("public/external/bglandscape-1200w.jpg");
    background-position: bottom left;
  }
  .sample-app-purchases-container01 {
    width: auto;
    height: auto;
    align-self: center;
    align-items: center;
    padding-top: 20px;
    justify-content: space-between;
  }
  .sample-app-purchases-navlink {
    color: var(--dl-color-gray-black);
    font-size: 16px;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    line-height: 1.15;
    border-width: 1px;
    margin-right: 30px;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
  }
  .sample-app-purchases-navlink1 {
    color: var(--dl-color-gray-black);
    font-size: 16px;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    line-height: 1.15;
    margin-left: 30px;
    border-width: 1px;
    margin-right: 30px;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
  }
  .sample-app-purchases-navlink2 {
    color: #A068FF;
    font-size: 16px;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    line-height: 1.15;
    margin-left: 30px;
    border-width: 1px;
    margin-right: 30px;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
  }
  .sample-app-purchases-navlink3 {
    color: var(--dl-color-gray-black);
    font-size: 16px;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    line-height: 1.15;
    margin-left: 30px;
    border-width: 1px;
    margin-right: 30px;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
  }
  .sample-app-purchases-navlink4 {
    color: var(--dl-color-gray-black);
    font-size: 16px;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    line-height: 1.15;
    margin-left: 30px;
    border-width: 1px;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
  }
  .sample-app-purchases-content-here {
    width: 1200px;
    height: auto;
    align-items: flex-end;
    margin-left: 50px;
    padding-top: 50px;
    margin-right: 50px;
    padding-bottom: 50px;
  }
  .sample-app-purchases-column {
    flex: 1;
    width: 100%;
    height: auto;
    align-items: flex-start;
    padding-bottom: 25px;
  }
  .sample-app-purchases-text {
    font-size: 36px;
    font-style: normal;
    font-family: Inter;
    font-weight: 700;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 30px;
  }
  .sample-app-purchases-text03 {
    font-size: 16px;
    font-style: normal;
    text-align: justify;
    font-family: Inter;
    font-weight: 400;
    line-height: 1.15;
    margin-bottom: 30px;
  }
  .sample-app-purchases-image {
    width: 70%;
    height: auto;
    align-self: center;
    border-color: rgba(0, 0, 0, 0.5);
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius4);
  }
  .sample-app-purchases-column1 {
    flex: 1;
    width: 100%;
    height: auto;
    align-items: flex-start;
    padding-top: 35px;
    padding-bottom: 20px;
  }
  .sample-app-purchases-text08 {
    font-size: 36px;
    font-style: normal;
    font-family: Inter;
    font-weight: 700;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 30px;
  }
  .sample-app-purchases-container02 {
    width: 651px;
    height: auto;
  }
  .sample-app-purchases-container03 {
    width: 100%;
    height: auto;
  }
  .sample-app-purchases-text11 {
    font-size: 16px;
    align-self: center;
    font-family: Inter;
    font-weight: 700;
    line-height: 1.15;
    margin-bottom: 15px;
  }
  .sample-app-purchases-image1 {
    width: 583px;
    height: auto;
    align-self: flex-start;
    border-color: rgba(0, 0, 0, 0.5);
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius4);
  }
  .sample-app-purchases-text12 {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .sample-app-purchases-image2 {
    width: 90%;
    height: auto;
    align-self: flex-start;
    border-color: rgba(0, 0, 0, 0.5);
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius4);
  }
  .sample-app-purchases-text13 {
    font-size: 16px;
    font-style: normal;
    margin-top: 35px;
    text-align: justify;
    font-family: Inter;
    font-weight: 400;
    line-height: 1.15;
    padding-right: var(--dl-space-space-fourunits);
  }
  .sample-app-purchases-text15 {
    font-weight: 700;
  }
  .sample-app-purchases-text17 {
    font-weight: 700;
  }
  .sample-app-purchases-text19 {
    text-decoration: underline;
  }
  .sample-app-purchases-text24 {
    font-weight: 700;
  }
  .sample-app-purchases-text26 {
    text-decoration: underline;
  }
  .sample-app-purchases-text28 {
    font-weight: 700;
  }
  .sample-app-purchases-text30 {
    font-weight: 700;
  }
  .sample-app-purchases-container04 {
    width: 550px;
    height: auto;
  }
  .sample-app-purchases-text33 {
    font-size: 16px;
    align-self: center;
    font-family: Inter;
    font-weight: 700;
    line-height: 1.15;
    margin-bottom: 15px;
  }
  .sample-app-purchases-image3 {
    width: 100%;
    height: auto;
    align-self: center;
  }
  .sample-app-purchases-text34 {
    font-size: 16px;
    font-style: normal;
    text-align: justify;
    font-family: Inter;
    font-weight: 400;
    line-height: 1.15;
    padding-bottom: 25px;
  }
  .sample-app-purchases-text35 {
    text-decoration: underline;
  }
  .sample-app-purchases-text37 {
    font-weight: 700;
  }
  .sample-app-purchases-text39 {
    font-weight: 700;
  }
  .sample-app-purchases-text41 {
    font-weight: 700;
  }
  .sample-app-purchases-text43 {
    font-weight: 700;
  }
  .sample-app-purchases-text45 {
    font-weight: 700;
  }
  .sample-app-purchases-text47 {
    font-weight: 700;
  }
  .sample-app-purchases-text49 {
    font-weight: 700;
    text-decoration: underline;
  }
  .sample-app-purchases-text54 {
    font-weight: 700;
  }
  .sample-app-purchases-text56 {
    font-weight: 700;
  }
  .sample-app-purchases-column2 {
    flex: 1;
    width: 100%;
    height: auto;
    align-items: flex-start;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .sample-app-purchases-text60 {
    font-size: 36px;
    font-style: normal;
    font-family: Inter;
    font-weight: 700;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 30px;
  }
  .sample-app-purchases-text63 {
    font-size: 16px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400;
    line-height: 1.15;
  }
  .sample-app-purchases-text65 {
    font-weight: 700;
  }
  .sample-app-purchases-container06 {
    width: 657px;
    height: 466px;
    padding-top: 20px;
  }
  .sample-app-purchases-text67 {
    font-size: 16px;
    align-self: center;
    font-family: Inter;
    font-weight: 700;
    line-height: 1.15;
    margin-bottom: 15px;
  }
  .sample-app-purchases-image4 {
    width: 100%;
    height: auto;
    border-color: rgba(0, 0, 0, 0.5);
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius4);
  }
  .sample-app-purchases-container07 {
    width: auto;
    height: 100%;
    margin-top: 0px;
    padding-top: 20px;
  }
  .sample-app-purchases-text68 {
    font-size: 16px;
    align-self: center;
    font-family: Inter;
    font-weight: 700;
    line-height: 1.15;
    margin-bottom: 15px;
  }
  .sample-app-purchases-image5 {
    width: 65%;
    height: auto;
    align-self: center;
  }
  .sample-app-purchases-column3 {
    flex: 1;
    width: 100%;
    height: auto;
    align-items: flex-start;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .sample-app-purchases-text69 {
    font-size: 36px;
    font-style: normal;
    font-family: Inter;
    font-weight: 700;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 30px;
  }
  .sample-app-purchases-text72 {
    margin-bottom: 20px;
  }
  .sample-app-purchases-text74 {
    font-weight: 700;
  }
  .sample-app-purchases-text76 {
    font-weight: 700;
  }
  .sample-app-purchases-container08 {
    height: auto;
    align-items: flex-start;
  }
  .sample-app-purchases-container09 {
    width: 657px;
    height: auto;
  }
  .sample-app-purchases-text78 {
    align-self: center;
    font-weight: 700;
    margin-bottom: 15px;
  }
  .sample-app-purchases-image6 {
    width: 100%;
    height: auto;
    border-color: rgba(0, 0, 0, 0.5);
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius4);
  }
  .sample-app-purchases-container10 {
    width: 523px;
    height: auto;
  }
  .sample-app-purchases-text79 {
    align-self: center;
    font-weight: 700;
    margin-bottom: 15px;
  }
  .sample-app-purchases-image7 {
    width: 60%;
    height: auto;
    align-self: center;
  }
  .sample-app-purchases-text80 {
    font-size: 18px;
    font-style: normal;
    font-family: Inter;
    font-weight: 500;
    padding-top: 25px;
  }
  .sample-app-purchases-text82 {
    font-style: italic;
  }
  .sample-app-purchases-footer {
    justify-content: space-between;
  }
  .sample-app-purchases-navlink5 {
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 700;
    text-decoration: none;
  }
  .sample-app-purchases-text83 {
    font-size: 16px;
    font-style: normal;
    font-family: Montserrat;
    font-weight: 500;
  }
  .sample-app-purchases-icon {
    margin-left: 50px;
  }
}
@media(max-width: 1200px) {
  .sample-app-purchases-heading {
    color: rgb(255, 255, 255);
  }
}
@media(max-width: 479px) {
  .sample-app-purchases-footer {
    align-self: center;
  }
  .sample-app-purchases-icon-group {
    display: none;
  }
}
