.header-header {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: flex-start;
}
.header-navlink {
  align-self: center;
  text-align: left;
  font-family: "Inter";
  font-weight: 700;
  text-decoration: none;
}
.header-container {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-navlink01 {
  transition: 0.3s;
  text-decoration: none;
}
.header-navlink01:hover {
  color: #a068ff;
  font-style: normal;
  font-weight: 500;
}
.header-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.header-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.header-text {
  font-size: 14px;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-weight: 500;
  margin-right: 4px;
  vertical-align: middle;
}
.header-text:hover {
  color: #a068ff;
}
.header-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.header-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.header-dropdown-toggle01 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-dropdown-toggle01:hover {
  fill: #fff;
  color: #c5a5ff;
  background-color: rgba(0, 0, 0, 0.75);
}
.header-text01 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.header-dropdown01 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.header-dropdown-toggle02 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-dropdown-toggle02:hover {
  fill: #fff;
  color: #c5a5ff;
  background-color: rgba(0, 0, 0, 0.75);
}
.header-text02 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.header-dropdown02 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.header-dropdown-toggle03 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-dropdown-toggle03:hover {
  fill: #fff;
  color: #c5a5ff;
  background-color: rgba(0, 0, 0, 0.75);
}
.header-text03 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.header-dropdown03 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.header-dropdown-toggle04 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-dropdown-toggle04:hover {
  fill: #fff;
  color: #c5a5ff;
  background-color: rgba(0, 0, 0, 0.75);
}
.header-text04 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.header-dropdown04 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.header-dropdown-toggle05 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-dropdown-toggle05:hover {
  fill: #fff;
  color: #c5a5ff;
  background-color: rgba(0, 0, 0, 0.75);
}
.header-text05 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.header-dropdown05 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.header-dropdown-toggle06 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-dropdown-toggle06:hover {
  fill: #fff;
  color: #c5a5ff;
  background-color: rgba(0, 0, 0, 0.75);
}
.header-text06 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.header-thq-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.header-dropdown-toggle07 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.header-text07 {
  font-size: 14px;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-weight: 500;
  margin-right: 4px;
  vertical-align: middle;
}
.header-text07:hover {
  color: #a068ff;
}
.header-dropdown-list1 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.header-dropdown06 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.header-dropdown-toggle08 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-dropdown-toggle08:hover {
  fill: #fff;
  color: #c5a5ff;
  background-color: rgba(0, 0, 0, 0.75);
}
.header-text08 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.header-dropdown07 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.header-dropdown-toggle09 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-dropdown-toggle09:hover {
  fill: #fff;
  color: #c5a5ff;
  background-color: rgba(0, 0, 0, 0.75);
}
.header-text09 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.header-dropdown08 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.header-dropdown-toggle10 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-dropdown-toggle10:hover {
  fill: #fff;
  color: #c5a5ff;
  background-color: rgba(0, 0, 0, 0.75);
}
.header-text10 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.header-dropdown09 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.header-dropdown-toggle11 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-dropdown-toggle11:hover {
  fill: #fff;
  color: #c5a5ff;
  background-color: rgba(0, 0, 0, 0.75);
}
.header-text11 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.header-navlink12 {
  transition: 0.3s;
  text-decoration: none;
}
.header-navlink12:hover {
  color: #a068ff;
}
.header-navlink13 {
  transition: 0.3s;
  text-decoration: none;
}
.header-navlink13:hover {
  color: #a068ff;
}

@media(max-width: 1600px) {
  .header-header {
    height: 70px;
    z-index: 1;
    align-self: center;
    box-shadow: 0px 1px 15px 0px #ebebeb;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: flex-start;
    background-color: #ffffff;
  }
  .header-navlink {
    color: #000000;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 700;
    text-decoration: none;
  }
  .header-container {
    flex: 1;
    width: auto;
    height: 28px;
    align-self: center;
    justify-content: flex-end;
  }
  .header-navlink01 {
    color: #000000;
    font-size: 16px;
    font-style: normal;
    font-family: Montserrat;
    font-weight: 500;
  }
  .header-next {
    color: #000000;
    font-size: 16px;
    font-style: normal;
    font-family: Montserrat;
    font-weight: 500;
    line-height: 1.15;
    padding-left: 10px;
    padding-right: 10px;
  }
  .header-dropdown-toggle {
    padding-top: 0px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 0px;
    justify-content: center;
  }
  .header-text {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-style: normal;
    font-family: Montserrat;
    font-weight: 500;
    margin-right: 0px;
  }
  .header-dropdown-list {
    top: 24px;
    left: -66px;
    width: 231px;
    display: none;
    background-color: #d7d9ea;
  }
  .header-dropdown-toggle01 {
    color: #000000;
    background-color: #ffffff;
  }
  .header-text01 {
    font-size: 14px;
    font-style: normal;
    text-align: center;
    font-weight: 500;
    justify-content: center;
  }
  .header-dropdown-toggle02 {
    color: #000000;
    background-color: #ffffff;
  }
  .header-text02 {
    font-size: 14px;
    font-style: normal;
    text-align: center;
    font-weight: 500;
    justify-content: center;
  }
  .header-dropdown-toggle03 {
    color: #000000;
    background-color: #ffffff;
  }
  .header-text03 {
    font-size: 14px;
    font-style: normal;
    text-align: center;
    font-weight: 500;
    justify-content: center;
  }
  .header-dropdown-toggle04 {
    color: #000000;
    background-color: #ffffff;
  }
  .header-text04 {
    font-size: 14px;
    font-style: normal;
    text-align: center;
    font-weight: 500;
    justify-content: center;
  }
  .header-dropdown-toggle05 {
    color: #000000;
    background-color: #ffffff;
  }
  .header-text05 {
    font-size: 14px;
    font-style: normal;
    text-align: center;
    font-weight: 500;
    justify-content: center;
  }
  .header-dropdown-toggle06 {
    color: #000000;
    background-color: #ffffff;
  }
  .header-text06 {
    font-size: 14px;
    font-style: normal;
    text-align: center;
    font-weight: 500;
    justify-content: center;
  }
  .header-next1 {
    color: #000000;
    font-size: 16px;
    font-style: normal;
    font-family: Montserrat;
    font-weight: 500;
    line-height: 1.15;
    padding-left: 10px;
    padding-right: 10px;
  }
  .header-dropdown-toggle07 {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    justify-content: center;
  }
  .header-text07 {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-style: normal;
    font-family: Montserrat;
    font-weight: 500;
    margin-right: 0px;
  }
  .header-dropdown-list1 {
    top: 21px;
    left: 2px;
    width: 240px;
    display: none;
    background-color: #d7d9ea;
  }
  .header-dropdown-toggle08 {
    color: #000000;
    background-color: #ffffff;
  }
  .header-text08 {
    font-size: 14px;
    font-style: normal;
    text-align: center;
    font-weight: 500;
    justify-content: flex-start;
  }
  .header-dropdown-toggle09 {
    color: #000000;
    background-color: #ffffff;
  }
  .header-text09 {
    font-size: 14px;
    font-style: normal;
    text-align: center;
    font-weight: 500;
    justify-content: flex-start;
  }
  .header-dropdown-toggle10 {
    color: #000000;
    background-color: #ffffff;
  }
  .header-text10 {
    font-size: 14px;
    font-style: normal;
    text-align: center;
    font-weight: 500;
    justify-content: flex-start;
  }
  .header-dropdown-toggle11 {
    color: #000000;
    background-color: #ffffff;
  }
  .header-text11 {
    font-size: 14px;
    font-style: normal;
    text-align: center;
    font-weight: 500;
    justify-content: flex-start;
  }
  .header-next2 {
    color: #000000;
    font-size: 16px;
    font-style: normal;
    font-family: Montserrat;
    font-weight: 500;
    line-height: 1.15;
    padding-left: 10px;
    padding-right: 10px;
  }
  .header-navlink12 {
    color: #000000;
    font-size: 16px;
    font-style: normal;
    font-family: Montserrat;
    font-weight: 500;
  }
  .header-next3 {
    color: #000000;
    font-size: 16px;
    font-style: normal;
    font-family: Montserrat;
    font-weight: 500;
    line-height: 1.15;
    padding-left: 10px;
    padding-right: 10px;
  }
  .header-navlink13 {
    color: #000000;
    font-size: 16px;
    font-style: normal;
    font-family: Montserrat;
    font-weight: 500;
  }
  .header-root-class-name {
    background-color: #ffffff;
  }
}

.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f5f5f5;
}
.home-banner {
  width: 100%;
  height: 275px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url('https://marketplace.canva.com/EAD2962NKnQ/2/0/1600w/canva-rainbow-gradient-pink-and-purple-virtual-background-_Tcjok-d9b4.jpg');
}
.home-container1 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.home-container3 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-testimonial-card {
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.home-text {
  color: #ffffff;
  font-size: 3rem;
  align-self: center;
  margin-top: 15px;
  text-align: center;
}
.home-icon {
  width: var(--dl-size-size-small);
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text01 {
  color: var(--dl-color-gray-500);
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-text02 {
  text-align: center;
}
.home-members {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-ariff {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-image {
  width: 200px;
  object-fit: cover;
}
.home-nabil {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-image1 {
  width: 200px;
  object-fit: cover;
}
.home-med {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-image2 {
  width: 200px;
  object-fit: cover;
}
.home-alia {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-image3 {
  width: 200px;
  object-fit: cover;
}
.home-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.home-container4 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.home-navlink {
  font-weight: 700;
  text-decoration: none;
}
.home-icon2 {
  width: 24px;
  height: 24px;
}
@media(max-width: 1600px) {
  .home-container {
    background-color: #ffffff;
  }
  .home-banner {
    height: 1325px;
    opacity: 1;
    position: relative;
    background-size: cover;
    justify-content: center;
    background-image: url("public/external/bglandscape-1100w.jpg");
  }
  .home-container1 {
    flex: 1;
    width: 1200px;
    height: auto;
    padding-bottom: 0px;
    justify-content: center;
  }
  .home-container2 {
    flex: 1;
    height: auto;
    align-items: center;
    justify-content: center;
  }
  .home-container3 {
    flex: 1;
    width: 1200px;
    height: auto;
    align-self: flex-start;
    box-shadow: 0px 0px 10px 0px #d3d2d6;
    margin-top: 150px;
    align-items: flex-start;
    border-radius: var(--dl-radius-radius-radius8);
    justify-content: center;
    background-color: #ffffff;
    border-top-left-radius: var(--dl-radius-radius-radius8);
    border-top-right-radius: var(--dl-radius-radius-radius8);
  }
  .home-testimonial-card {
    width: 100%;
  }
  .home-text {
    color: #ffffff;
    width: 1050px;
    height: auto;
    opacity: 1;
    font-size: 5rem;
    align-self: center;
    font-style: normal;
    margin-top: 10px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 1;
    padding-top: 40px;
    border-radius: var(--dl-radius-radius-radius4);
    margin-bottom: 50px;
    padding-bottom: 40px;
    background-size: cover;
    background-image: url("public/external/bglandscape-1100w.jpg");
    background-repeat: no-repeat;
    background-position: bottom left;
  }
  .home-text01 {
    color: var(--dl-color-gray-500);
    font-size: 2rem;
    font-style: italic;
    font-family: Inter;
    font-weight: 400;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text04 {
    color: #000000;
    font-size: 20px;
    font-style: normal;
    margin-top: 30px;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    line-height: 1.15;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px;
  }
  .home-text09 {
    font-size: 3em;
    align-self: center;
    font-style: normal;
    margin-top: 50px;
    font-family: Montserrat;
    font-weight: 700;
    margin-bottom: 50px;
  }
  .home-members {
    margin-bottom: 30px;
    padding-bottom: 25px;
  }
  .home-ariff {
    margin-bottom: 0px;
  }
  .home-image {
    margin-left: 25px;
    margin-right: 25px;
    border-radius: var(--dl-radius-radius-round);
    margin-bottom: 25px;
  }
  .home-text10 {
    font-size: 16px;
    align-self: center;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    line-height: 1.15;
  }
  .home-text11 {
    align-self: center;
    font-weight: 700;
  }
  .home-nabil {
    margin-bottom: 0px;
  }
  .home-image1 {
    margin-left: 25px;
    margin-right: 25px;
    border-radius: var(--dl-radius-radius-round);
    margin-bottom: 25px;
  }
  .home-text15 {
    font-size: 16px;
    align-self: center;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: 1.15;
  }
  .home-text16 {
    font-weight: 700;
  }
  .home-med {
    margin-bottom: 0px;
  }
  .home-image2 {
    margin-left: 25px;
    margin-right: 25px;
    border-radius: var(--dl-radius-radius-round);
    margin-bottom: 25px;
  }
  .home-text19 {
    font-size: 16px;
    align-self: center;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: 1.15;
  }
  .home-text20 {
    font-weight: 700;
  }
  .home-alia {
    margin-bottom: 0px;
  }
  .home-image3 {
    margin-left: 25px;
    margin-right: 25px;
    border-radius: var(--dl-radius-radius-round);
    margin-bottom: 25px;
  }
  .home-text23 {
    font-size: 16px;
    align-self: center;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: 1.15;
  }
  .home-text24 {
    align-self: center;
    font-weight: 700;
  }
  .home-footer {
    justify-content: space-between;
  }
  .home-navlink {
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 700;
    text-decoration: none;
  }
  .home-text28 {
    font-size: 16px;
    font-style: normal;
    font-family: Montserrat;
    font-weight: 500;
  }
  .home-icon2 {
    margin-left: 50px;
  }
}
@media(max-width: 1200px) {
  .home-banner {
    position: relative;
  }
  .home-text {
    font-size: 4rem;
  }
}
@media(max-width: 767px) {
  .home-icon {
    height: var(--dl-size-size-small);
  }
}
@media(max-width: 479px) {
  .home-testimonial-card {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-footer {
    align-self: center;
  }
  .home-icon-group {
    display: none;
  }
}
