:host { 
  display: contents; 
}
.basic-py3bii-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f5f5f5;
}
.basic-py3bii-banner {
  width: 100%;
  height: 275px;
  display: flex;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url('https://marketplace.canva.com/EAD2962NKnQ/2/0/1600w/canva-rainbow-gradient-pink-and-purple-virtual-background-_Tcjok-d9b4.jpg');
}

.basic-py3bii-main-content {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #ffffff;
}
.basic-py3bii-heading {
  color: #ff0000;
  font-size: 3rem;
  align-self: center;
  text-align: center;
}
.basic-py3bii-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.basic-py3bii-navlink {
  transition: 0.3s;
  text-decoration: none;
}
.basic-py3bii-navlink:hover {
  color: #a068ff;
  font-style: normal;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.75);
}
.basic-py3bii-navlink1 {
  transition: 0.3s;
  text-decoration: none;
}
.basic-py3bii-navlink1:hover {
  color: #a068ff;
  font-style: normal;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.75);
}
.basic-py3bii-navlink2 {
  transition: 0.3s;
  text-decoration: none;
}
.basic-py3bii-navlink2:hover {
  color: #a068ff;
  font-style: normal;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.75);
}
.basic-py3bii-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.basic-py3bii-navlink3 {
  transition: 0.3s;
  text-decoration: none;
}
.basic-py3bii-navlink3:hover {
  color: #a068ff;
  font-style: normal;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.75);
}
.basic-py3bii-navlink4 {
  transition: 0.3s;
  text-decoration: none;
}
.basic-py3bii-navlink4:hover {
  color: #a068ff;
  font-style: normal;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.75);
}
.basic-py3bii-content-here {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.basic-py3bii-text03 {
  text-align: justify;
}
.basic-py3bii-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.basic-py3bii-image {
  width: 200px;
  object-fit: cover;
}
.basic-py3bii-column {
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.basic-py3bii-reference {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}
.basic-py3bii-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.basic-py3bii-container4 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.basic-py3bii-navlink5 {
  font-weight: 700;
  text-decoration: none;
}
.basic-py3bii-icon {
  width: 24px;
  height: 24px;
}
@media(max-width: 1600px) {
  .basic-py3bii-container {
    background-color: #f7f7f7;
  }
  .basic-py3bii-banner {
    height: auto;
    align-items: center;
    background-size: cover;
    justify-content: flex-start;
    background-image: url("/assets/external/bgportrait-1500w.jpg");
  }
  .basic-py3bii-main-content {
    flex: 1;
    width: 1300px;
    height: auto;
    box-shadow: 0px 0px 10px 0px #d3d2d6;
    align-items: flex-start;
    padding-top: 100px;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #ffffff;
  }
  .basic-py3bii-heading {
    color: rgb(255, 255, 255);
    width: 1200px;
    height: auto;
    font-size: 64px;
    font-style: normal;
    margin-top: 40px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 1.15;
    padding-top: 40px;
    border-radius: var(--dl-radius-radius-radius4);
    margin-bottom: 20px;
    padding-bottom: 40px;
    background-size: cover;
    background-image: url("/assets/external/bglandscape-1200w.jpg");
    background-position: right;
  }
  .basic-py3bii-container1 {
    width: 700px;
    height: auto;
    align-self: center;
    margin-left: 50px;
    padding-top: 20px;
    margin-right: 50px;
    padding-bottom: 10px;
    justify-content: center;
  }
  .basic-py3bii-navlink {
    font-size: 16px;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    line-height: 1.15;
    border-width: 1px;
    margin-right: 25px;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
  }
  .basic-py3bii-navlink1 {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    line-height: 1.15;
    margin-left: 25px;
    border-width: 1px;
    margin-right: 25px;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
  }
  .basic-py3bii-navlink2 {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    line-height: 1.15;
    margin-left: 25px;
    border-width: 1px;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
  }
  .basic-py3bii-container2 {
    width: 800px;
    height: auto;
    align-self: center;
    margin-left: 50px;
    padding-top: 10px;
    margin-right: 50px;
    padding-bottom: 20px;
    justify-content: center;
  }
  .basic-py3bii-navlink3 {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    line-height: 1.15;
    margin-left: 25px;
    border-width: 1px;
    margin-right: 25px;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
  }
  .basic-py3bii-navlink4 {
    color: #A068FF;
    font-size: 16px;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    line-height: 1.15;
    margin-left: 25px;
    border-width: 1px;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
  }
  .basic-py3bii-content-here {
    width: 1200px;
    height: auto;
    align-self: flex-start;
    align-items: flex-end;
    margin-left: 50px;
    padding-top: 50px;
    margin-right: 50px;
    padding-bottom: 50px;
  }
  .basic-py3bii-text {
    font-size: 36px;
    align-self: flex-start;
    font-style: normal;
    font-family: Inter;
    font-weight: 700;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 30px;
  }
  .basic-py3bii-text03 {
    font-size: 16px;
    align-self: flex-start;
    font-style: normal;
    text-align: justify;
    font-family: Inter;
    font-weight: 400;
    line-height: 1.15;
  }
  .basic-py3bii-text04 {
    text-transform: inherit;
  }
  .basic-py3bii-text05 {
    text-transform: inherit;
  }
  .basic-py3bii-text06 {
    text-transform: inherit;
  }
  .basic-py3bii-text07 {
    font-size: 16px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400;
    line-height: 1.15;
    text-transform: inherit;
  }
  .basic-py3bii-text08 {
    text-transform: uppercase;
  }
  .basic-py3bii-container3 {
    align-self: flex-start;
    align-items: flex-end;
    justify-content: flex-start;
  }
  .basic-py3bii-image {
    width: 438px;
    height: 423px;
    align-self: flex-start;
    margin-left: 0px;
    margin-right: 0px;
  }
  .basic-py3bii-column {
    flex: 1;
    width: 100%;
    align-items: flex-start;
  }
  .basic-py3bii-text09 {
    font-size: 16px;
    align-self: center;
    font-style: normal;
    text-align: justify;
    font-family: Inter;
    font-weight: 400;
    line-height: 1.15;
    padding-left: var(--dl-space-space-fourunits);
    margin-bottom: 75px;
  }
  .basic-py3bii-text10 {
    font-size: 16px;
    align-self: stretch;
    font-style: normal;
    margin-top: 50px;
    text-align: justify;
    font-family: Inter;
    font-weight: 400;
    line-height: 1.15;
    margin-left: 0px;
    padding-left: var(--dl-space-space-fourunits);
  }
  .basic-py3bii-text16 {
    font-size: 18px;
    font-style: normal;
    font-family: Inter;
    font-weight: 500;
    padding-top: 25px;
  }
  .basic-py3bii-text18 {
    font-style: italic;
  }
  .basic-py3bii-reference {
    width: 1600px;
    height: auto;
    align-self: center;
    box-shadow: 0px -1px 15px 0px #ebebeb;
    align-items: flex-start;
    padding-top: 50px;
    padding-left: 200px;
    padding-right: 200px;
    flex-direction: column;
    padding-bottom: 50px;
    justify-content: flex-start;
  }
  .basic-py3bii-text19 {
    font-size: 32px;
    font-style: normal;
    font-family: Inter;
    font-weight: 700;
  }
  .basic-py3bii-text20 {
    font-size: 16px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400;
    line-height: 1.25;
  }
  .basic-py3bii-text21 {
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
  }
  .basic-py3bii-text22 {
    font-size: 16px;
    font-style: italic;
    font-family: Inter;
    font-weight: 400;
  }
  .basic-py3bii-text23 {
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
  }
  .basic-py3bii-text24 {
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
  }
  .basic-py3bii-text25 {
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
  }
  .basic-py3bii-link {
    color: var(--dl-color-primary-300);
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    text-decoration: underline;
  }
  .basic-py3bii-text26 {
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
  }
  .basic-py3bii-text27 {
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
  }
  .basic-py3bii-text28 {
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
  }
  .basic-py3bii-text29 {
    font-size: 16px;
    font-style: italic;
    font-family: Inter;
    font-weight: 400;
  }
  .basic-py3bii-text30 {
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
  }
  .basic-py3bii-text31 {
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
  }
  .basic-py3bii-text32 {
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
  }
  .basic-py3bii-link1 {
    color: var(--dl-color-primary-300);
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    text-decoration: underline;
  }
  .basic-py3bii-text33 {
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
  }
  .basic-py3bii-text34 {
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
  }
  .basic-py3bii-text35 {
    font-size: 16px;
    font-style: italic;
    font-family: Inter;
    font-weight: 400;
  }
  .basic-py3bii-text36 {
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
  }
  .basic-py3bii-text37 {
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
  }
  .basic-py3bii-text38 {
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
  }
  .basic-py3bii-link2 {
    color: var(--dl-color-primary-300);
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    text-decoration: underline;
  }
  .basic-py3bii-footer {
    justify-content: space-between;
  }
  .basic-py3bii-navlink5 {
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 700;
    text-decoration: none;
  }
  .basic-py3bii-text40 {
    font-size: 16px;
    font-style: normal;
    font-family: Montserrat;
    font-weight: 500;
  }
  .basic-py3bii-icon {
    margin-left: 50px;
  }
}
@media(max-width: 1200px) {
  .basic-py3bii-heading {
    color: rgb(255, 255, 255);
  }
}
@media(max-width: 479px) {
  .basic-py3bii-footer {
    align-self: center;
  }
  .basic-py3bii-icon-group {
    display: none;
  }
}
