<header data-role="Header" class="header-header" [ngClass]="rootClassName">
  <a routerLink="/strace" class="header-navlink">{{ text }}</a>
  <div class="header-container">
    <a routerLink="/strace" class="header-navlink01">{{ text11 }}</a>
    <span class="header-next">{{ next }}</span>
    <div data-thq="thq-dropdown" class="header-thq-dropdown list-item">
      <div data-thq="thq-dropdown-toggle" class="header-dropdown-toggle">
        <span class="header-text">{{ text31 }}</span>
      </div>
      <ul data-thq="thq-dropdown-list" class="header-dropdown-list">
        <li data-thq="thq-dropdown" class="header-dropdown list-item">
          <a routerLink="/background-1">
            <div
              data-thq="thq-dropdown-toggle"
              class="header-dropdown-toggle01"
            >
              <span class="header-text01">{{ text5 }}</span>
            </div>
          </a>
        </li>
        <li data-thq="thq-dropdown" class="header-dropdown01 list-item">
          <a routerLink="/background-2">
            <div
              data-thq="thq-dropdown-toggle"
              class="header-dropdown-toggle02"
            >
              <span class="header-text02">{{ text6 }}</span>
            </div>
          </a>
        </li>
        <li data-thq="thq-dropdown" class="header-dropdown02 list-item">
          <a routerLink="/background-3">
            <div
              data-thq="thq-dropdown-toggle"
              class="header-dropdown-toggle03"
            >
              <span class="header-text03">{{ text3 }}</span>
            </div>
          </a>
        </li>
        <li data-thq="thq-dropdown" class="header-dropdown03 list-item">
          <a routerLink="/background-4">
            <div
              data-thq="thq-dropdown-toggle"
              class="header-dropdown-toggle04"
            >
              <span class="header-text04">{{ text7 }}</span>
            </div>
          </a>
        </li>
        <li data-thq="thq-dropdown" class="header-dropdown04 list-item">
          <a routerLink="/background-5">
            <div
              data-thq="thq-dropdown-toggle"
              class="header-dropdown-toggle05"
            >
              <span class="header-text05">{{ text8 }}</span>
            </div>
          </a>
        </li>
        <li data-thq="thq-dropdown" class="header-dropdown05 list-item">
          <a routerLink="/background-6">
            <div
              data-thq="thq-dropdown-toggle"
              class="header-dropdown-toggle06"
            >
              <span class="header-text06">{{ text9 }}</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <span class="header-next1">{{ next1 }}</span>
    <div data-thq="thq-dropdown" class="header-thq-dropdown1 list-item">
      <div data-thq="thq-dropdown-toggle" class="header-dropdown-toggle07">
        <span class="header-text07">{{ text4 }}</span>
      </div>
      <ul data-thq="thq-dropdown-list" class="header-dropdown-list1">
        <li data-thq="thq-dropdown" class="header-dropdown06 list-item">
          <a routerLink="/basic-py-1">
            <div
              data-thq="thq-dropdown-toggle"
              class="header-dropdown-toggle08"
            >
              <span class="header-text08">{{ text10 }}</span>
            </div>
          </a>
        </li>
        <li data-thq="thq-dropdown" class="header-dropdown07 list-item">
          <a routerLink="/basic-py-2">
            <div
              data-thq="thq-dropdown-toggle"
              class="header-dropdown-toggle09"
            >
              <span class="header-text09">{{ text111 }}</span>
            </div>
          </a>
        </li>
        <li data-thq="thq-dropdown" class="header-dropdown08 list-item">
          <a routerLink="/basic-py-3">
            <div
              data-thq="thq-dropdown-toggle"
              class="header-dropdown-toggle10"
            >
              <span class="header-text10">{{ text1 }}</span>
            </div>
          </a>
        </li>
        <li data-thq="thq-dropdown" class="header-dropdown09 list-item">
          <a routerLink="/basic-py-4">
            <div
              data-thq="thq-dropdown-toggle"
              class="header-dropdown-toggle11"
            >
              <span class="header-text11">{{ text12 }}</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <span class="header-next2">{{ next2 }}</span>
    <a routerLink="/sample-app-intro" class="header-navlink12">{{ text2 }}</a>
    <span class="header-next3">{{ next3 }}</span>
    <a routerLink="/training-video" class="header-navlink13">
      <span>Training Video</span>
      <br />
    </a>
  </div>
</header>
