<div class="maintenance-container">
  <div class="maintenance-banner">
    <h1 class="maintenance-text">
      <span class="maintenance-text1">STRACE</span>
      <br />
    </h1>
    <span class="maintenance-text3">
      <span class="maintenance-text4">IN MAINTENANCE ...</span>
      <br />
    </span>
    <div class="maintenance-container1">
      <img
        alt="image"
        src="https://i.imgflip.com/wfenk.jpg?a473376"
        loading="eager"
        class="maintenance-image"
      />
    </div>
  </div>
</div>
